<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <img style="width: 30%;" src="https://media3.giphy.com/media/tHVAjR4I8Dg3AyrtaQ/giphy.gif?cid=6c09b952ltxt3ukg50m5s4k1pf8avxzoljtgyd1wahcnoo3u&rid=giphy.gif&ct=s">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a routerLink="/" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>

